/*general*/
.row{
    margin: 0;
}
*,*:after,*:before
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
}
html, body { max-width: 100%;}

.clearfix{
    clear:both;
}
.overlay{
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    left:0;
    background: rgba(0,0,0,0.6);
}
body {
  font-family: "Lato", sans-serif;
  
    overflow-x:hidden;

}
/*********sidenav***********/
#mySidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

#mySidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#mySidenav a:hover {
  color: #f1f1f1;
  border-bottom: 3px solid red;

}

#mySidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color:#f9cc41;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.camera_wrap .camera_pag .camera_pag_ul{
    background: #f9cc41;
    overflow: hidden;
   
}

/*sidemenu*/


/*=======================================================
    2-      SIDEBAR SOCIAL MEDIA
========================================================*/
#sidebar {
    height: 250px;
    width: 10px;
    position: fixed;
    text-align: center;
    padding: 10px;
    margin-right: -150px;
    right: 0;
    top: 200px;
    z-index: 1000;
}

#sidebar p {
    margin-bottom: 0 !important;
}

#sidebar p i {
    right: 30px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    color:#f9cc41;
}

.linkedin p i {
    left: -18px;
}

.youtube p i {
    left: -16px;
}

.social {
    margin-left: -190px;
    width: 230px;
    padding: 0;
    display: inline-table;
    height: 50px;
    line-height: 50px;
    background-color: #434254;
    -moz-transition-property: margin-left;
    -moz-transition-duration: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-property: margin-left;
    -ms-transition-duration: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-property: margin-left;
    -o-transition-duration: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-property: margin-left;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s;
    box-shadow: 0px 0px 6px 0px #3E3D3D;
    cursor: pointer;
    text-decoration: none;

}
.social:hover {
    margin-left: -340px;
    width: 340px;
    text-align: left;
}
.social:hover i {
    left: 10px;
    margin-right: 30px;
}
.facebook:hover {
    background-color: #3b5998;
}
.twitter:hover {
    background-color: #4099FF;
}
.google:hover {
    background-color: #DD4B39;
}
.youtube:hover {
    background-color: #E52D27;
}
.linkedin:hover {
    background-color: #0976B4;
}
/* =====================================================
/*-------------------------------
    START NAVBAR
------------------------------*/
.logo {
    padding-right: 2rem;
}
.logo h2 {
    
    font-weight: normal;
    font-size: 30px;
    margin: 0;
    color:#f9cc41;
}
.logo span {
    border-bottom: 2px solid #e99d3f;
    color: #fff;
}
header .header-title span {
    font-size: 50px;
    font-family: 'Great Vibes', cursive;
}
nav#navbar-main{
    background: #434254;
    margin-top: 0;
}
header nav {
    
    box-shadow: none !important;
    
}
.navbar.navbar-dark .navbar-toggler{
    background-color: #e99d3f !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px 10px;
    position: relative;
    margin: 0 5px;
    transition: all 0.8s ease-in-out;
    color: #f9cc41;
}
.navbar li .nav-link:hover,
.navbar li .nav-link:active {
    color: #f9cc41 !important;
    background-color: rgba(0, 0, 0, .3) !important;
}
.nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #e99d3f;
    z-index: 999;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.navbar li.active .nav-link::before,
.navbar li .nav-link:hover::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.nav-item .dropdown-menu {
    border-top: 1px solid #e99d3f;
    width: 170px;
    left: 17px;
}
.nav-item .dropdown-menu a.dropdown-item:hover {
    background-color: #e99d3f;
}
/*----------------------------
    2.3 SEARCH FORM AREA
-----------------------------*/
.search-form-area {
    padding: 0 15px;
}
a.search-form-trigger {
    position: relative;
}
a.search-form-trigger::before {
    content: "\f002";
    font-family: fontawesome;
    font-size: 15px;
    height: 40px;
    position: absolute;
    top: -11px;
    width: 40px;
    z-index: 99;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.search-form-trigger.search-is-visible::before {
    color: #fff;
    content: "\f067";
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.search-form {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.search-form.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.search-form form{
    height: 100%;
    width: 80%;
}
.search-form input {
    border-radius: 0;
    border: 1px solid #ccc;
    background: #171717;
    height: 100%;
    width: 100%;
    padding: 0 5%;
    margin: 0 10%;

}
.search-form input::-webkit-input-placeholder,
.search-form input::-moz-placeholder,
.search-form input:-ms-input-placeholder{
    color: #fff !important;
}
.search-form input:focus {
    outline: none;
}
/* responsive search icon */
@media only screen and (min-width: 1024px) {
    .search-form {
        height: 120px;
        top: 100%;
    }

    .search-form input {
        padding: 0 2em;
        font-size: 3.2rem;
        font-weight: 300;
        color: #fff;
    }
}
.search-form-overlay {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, -webkit-transform 0.3s 0s;
}
.search-form-overlay.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s, -webkit-transform 0.3s 0s;
}
.no-js .search-form {
    position: relative;
    top: 0;
    opacity: 1;
    visibility: visible;
}
/*header middle text------*/
.middle{
    position: relative;

}
.middle .h-content {
     position: absolute;
    top: 10%;
    left: 52%;
    transform: translate(-50%,-50%);
    background: #434254;
    opacity: 1.7;
    width: 50%;
    text-align: center;

   
} 
.middle .h-content h2.header-title{
 animation: pulse 2.5s linear infinite;
 margin-bottom: 20px;
    color:#f9cc41;
    font-size: 45px;
    margin-top: 20px;
}
.middle .h-content h3{
    color: #fff;
}
.middle .h-content a.mb-3{
    background: #f9cc41;
    color:#434254;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.middle .h-content a.mb-3:hover{
    background: transparent;
    color:#f9cc41;
    transition: all 0.5s ease-in-out;
}
    


@keyframes pulse{
  0% {
    transform: scale(1, 1);
    opacity: .25;
}

50% {
    transform: scale(1.2, 1);
    opacity: 1;
}
100% {
    transform: scale(1, 1);
    opacity: .25;
}
}
/*second section*/
.second-section{
    background: #434254;
    padding: 100px 100px;
}
.second-section h4{
    color: #f9cc41
}
.second-section h2.header-title{
    color: #fff;
}
.second-section p{
    color: #ddd;
}
.second-section button{
    background: #f9cc41;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    outline: 0;
}
.second-section button:hover{
    background: transparent;
    color: #fff;
    transform: all 0.5s ease-in-out;
}
/*rates*/
.rates{
    padding: 100px 100px;
    background:  #f9cc41;
}
.rates span{
    display: block;
    color: #fff;
}
.rates span.span-1{
    margin-top: -20px;
    font-size: 20px;
}
.rates span.span-2{
    color: gold;
    font-size: 18px;
}
.rates .feet{
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
text-align: center;
background: #434254;
height: 290px;
width: 90%;
}
.rates .feet:hover{
    background: #fff;
    color: #f9cc41;
}
.rates .feet:hover i{
    color: #434254;

}
.rates .feet:hover span.span-1{
    color:#000;
}

.feet i{
    color: #f9cc41;
        font-size: 91px;
        line-height: 2;

}
/*projects*/
.projects{
    padding: 100px 100px;
    background: #434254;

}
/*servises*/
.services{
    background: #f9cc41;
    color: #fff;
    padding: 50px 50px;
}
.services h1,
.services p{
    color: #434254;
    
}
.services button{
    color: #f9cc41;
    background: #434254;
    padding: 15px 31px;
    position: relative;
    top:55px;
    border-radius: 10px;
    left:102px;

}
.services button:hover{
    background: transparent;
    color: #434254;
}
/*testimonial*/
.testimonile{
    padding: 100px 100px;
    background: #434254;
}
.testimonile h1{
    color: #f9cc41;

}
.card{
    background: #f9cc41;
    margin-top:40px;
}
.card img{
    width: 50%;
    margin: 10px auto;
    border-radius: 30px;
}
.card .card-body h5.card-title{
color: #ddd;
font-size: 25px;
}
.card .card-body p{
    color: #555;
}

.card .card-body a{
    background: #434254;
    outline: 0;
    border-radius: 20px;
}
.card .card-body a:hover{
    background: transparent;
    color: #000;
}
/*contact*/
section.footer{
    padding:50px 50px;
   background-image: url(../images/image-1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    color: #fff;
}
section.footer h1.section-title{
    color: #f9cc41;
    font-size: 30px;
    padding-top:20px;
}

section.footer .overlay{
    position: absolute;
}
section.footer .images img{
    width: 24%;
}
section.footer ul li a{
    color: #fff;
}
section.footer ul li{
    margin: 20px;
}
/*footer2*/
.footer2{
    padding: 20px 20px;
    background: #f9cc41;
}
.footer2 .first{
    color: #434254;
    font-style: italic;
    font-weight: bold;
}
.footer2 .row i#icon{
    color: red
}
.footer2 .list i{
    color:#434254;
    margin: 10px;
    font-style: italic;
    font-weight: bold;

}
.footer2 .contact input[type="text"]{
    border-radius: 20px;
    height: 40px;
    outline: 0;
    
}
.footer2 .contact button{
    border-radius: 20px;
    padding: 10px 10px;
    background: #f9cc41;
    position: relative;
    background: #434254;
color: #f9cc41;

}






























.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    font-family: 'fontAwesome';

}
.owl-carousel .owl-nav .owl-prev:before{
    // fa-chevron-left
    content: "\f053";
    margin-right:10px;
}
.owl-carousel .owl-nav .owl-next:after{
    //fa-chevron-right
    content: "\f054";
    margin-right:10px;
}

.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    //width, height
    width:30px;
    height:30px;
    ...
}
.owl-carousel .owl-nav .owl-prev{
    background: url('left-icon.png') no-repeat;
}
.owl-carousel .owl-nav .owl-next{
    background: url('right-icon.png') no-repeat;
}
